.btn-primary {
    background: #F15B22;
    border-radius: 5px;
    border: 0px;
    height: 64px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 25px 14px;
    align-items: center;

}

.header {
    background-image: url(../banner/banner1.png);
    display: flex;
    align-items: center;
    height: 808px;
    left: 1600px;
    text-align: right;

}

.banner {
    margin-left: 750px;
    margin-top: 300px;
}

.line {
    display: flex;
}

  #description {
    font-weight: 400;
    font-size: 16px;
} 

 .plans1 {
    text-align: center;
    margin-top: 100px;
    font-weight: 700;

} 
.start{
    margin-left: 15px;
}

.icon {
    display: flex;
}

.image {
    width: 560px;
    height: 620px;
    left: 206px;
    top: 930px;
    margin-top: 100px;
}   

 .Content {
   
    text-align: justify;
    position: absolute;
    width: 410px;
    height: 400px;
    left: 870px;
    top: 1170px;
}

.section-title {
    padding: 30px;
    display: flex;
    gap: 940px;
}

#banner-title {
    align-items: center;
}

.plans h1 {
    position: absolute;
    width: 180px;
    height: 10px;
    left: 711px;
    top: 1710.9px;
    font-size: 40px;
    margin-bottom: 20px;
}

.plans {
    padding: 70px;
    gap: 70px;
    display: flex;
    width: 300px;
    height: 185px;
    top: 1700px;
    align-items: center;
} 

.plans h4 {
    text-size-adjust: 50px;
    width: 270px;
    color: #151414;
    font-weight: 200;
    font-size: 25px;
}

.plans h5 {
    text-align: left;
    width: 220px;
    color: #737272;
    font-weight: 200;
    font-size: 25px;
}
.mindset-banner{
    background-image: url(../banner/87C80152-769D-4E3B-953F-479C1186303C.JPEG);
    width: 1140px;
    height: 300px;
    left: 88.5px;
    top: 2242px;
    margin-left: 150px;

}
#mind{
    padding-left: 10px;
    padding-top: 120px;
    color: white;
}
.line1{
    margin-left: 5px;
}
.button{
    background-color: white;
    color: #F15B22;
    border: none;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.contact{
    color: #FFFFFF;
    padding-top: 50px;

}
.information{
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 20px;
}
.form{
    color: #FFFFFF;
}
.future{
    background-color: black;
    display: flex;
    margin-top: 100px;
}
.subscribe{
    color: #FFFFFF;
   
}
.sub{
margin-left: 700px;
}
